/* responsive for mobile L size devices */
/* nav section */
@media screen and (max-width: 425px){
  .nav-container{
    flex-direction: column;
  }
.nav-logo-container{
  flex-direction: column;
}
.menu-container{
  margin-top: 20px;
  flex-direction: column;
}
.follow-us-container{
  margin-top: 30px;
}
/* banner section */
.banner-section{
  grid-template-columns: 1fr;
  margin: 0px 20px;
}
.banner-container{
  margin-top: 10px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 90px;
  
}
.banner-img1{
  max-width: 100%;
  max-height: 100%;
}
.magic-span{
  font-size: 3rem;
}
.banner-title{
  font-size: 1.5rem;
}
.banner-description{
  font-size: 1rem;
}
.btn-primary{
  padding: 10px 10px;
  font-size: 0.8rem;
  }
.games-card-container{
  flex-direction: column;
}
.span-highligt{
  font-size: 1.5rem;
}
.instant-play-container{
 flex-direction: column;
 margin-top: 20px;
}
.instant-play-content{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 0px;
}
.iplay-img-container{
  width: 100%;
 
}
#game1{
  width: 100%;
  height: auto;
}
.secondary-img{
  width: 40%;
  position: relative;
  top: -100px;
  left: 0px;
}
#game2{
width: 100%;
}
.game-main-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.game-btn{
  margin-top: 20px;
  width: 120px;
height: 40px;
font-size: 0.5rem;
border-radius: 20px
}
.game-btn img{
  width: 25px;
  height: 25px;
}
footer{
  width: 100%;
  height: auto;
}
.footer-items{
  flex-wrap: wrap;
}
.footer-items a{
 font-size: 1.2rem;
  padding: 20px;
}
.social-links{
 
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.social-links a{
  color: #FFF;
  padding:0px 50px 20px 50px;
}
.footer-menu{
  flex-wrap: wrap;
  font-size: 1rem;
}
.footer-menu a{
  padding:0px 20px 20px 20px;
}
.copyright{
  flex-wrap: wrap;
  padding: 0px 20px;
}
}
/* responsive for tablet size devices */
@media screen and (min-width: 425px) and (max-width: 768px){
  .banner-section{
    grid-template-columns: 1fr;
    margin: 0px 20px;
  }
  .banner-container{
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    order: 2;
    padding: 20px 90px;
    
  }
.games-card-container{
  flex-direction: column;
}
.instant-play-container{
 flex-direction: column;
 margin-top: 20px;
}
.instant-play-content{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 0px;
}
.iplay-img-container{
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-top: 20px;
}
#game1{
  width: 100%;
  height: auto;
}
.secondary-img{
  width: 40%;
  position: relative;
  top: -100px;
  left: 0px;
}
#game2{
width: 100%;
}
footer{
  width: 100%;
  height: auto;
}
.footer-items{
  flex-wrap: wrap;
}
.footer-menu{
  flex-wrap: wrap;
  font-size: 1rem;
}
}
  
